networks:
  llm-network:
    driver: bridge

services:
  backend:
    build: ./backend
    container_name: backend
    environment:
      - OLLAMA_URL=http://ollama:11434
      - OLLAMA_MODEL=mistral
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
    command: uvicorn app.main:app --reload --host 0.0.0.0 --port 5000
    depends_on:
      - db
    networks:
      - llm-network

  frontend:
    build: ./frontend
    container_name: frontend
    #    environment:
    #      - VITE_APP_BACKEND_URL=http://backend:8000
    volumes:
      - ./frontend:/app
    ports:
      - "5173:5173"
    networks:
      - llm-network

  db:
    image: postgres:18.0-alpine
    container_name: db
    ports:
      - "5432:5432"
    env_file:
      - ./backend/.env
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - llm_data:/var/lib/postgresql/data/
    networks:
      - llm-network
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: unless-stopped
    command: [ "serve" ]
    ports:
      - "11434:11434"
    volumes:
      - ollama-data:/root/.ollama
    networks:
      - llm-network
    healthcheck:
      test: [ "CMD", "ollama", "list" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  llm_data:
  ollama-data: